<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="StudentportalDashboard"  allow-return-values="true" verbose="10">

	<listeners>

		<listener class-name="com.nmims.selenium.studentportal.utilities.Reporting" />

	</listeners>

	<test name="portalApp">

		<parameter name="browser" value="chrome" />
		<classes>
		
            
		  <class name="com.nmims.selenium.studentportal.testCase.TC_LoginTest_00001" /> 
			 <class name="com.nmims.selenium.studentportal.testutil.LoginTestutil" />
		 	<class name="com.nmims.selenium.studentportal.testCase.TC_StudenBasicInfo00004" />   
			<class name="com.nmims.selenium.studentportal.testCase.TC_OngoingSubject00006" /> 
			


		</classes>

	</test>

</suite> 