<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="StudentportalDashboard" allow-return-values="true"
	verbose="100" parallel="false" preserve-order="true">

	<listeners>

		<listener
			class-name="com.nmims.selenium.studentportal.utilities.Reporting" />

	</listeners>

	<test name="portalApp">

		<parameter name="browser" value="chrome" />
		<classes>


			<!-- <class name="com.nmims.selenium.studentportal.testCase.TC_LoginTest_00001"/>
            <class name="com.nmims.selenium.studentportal.testCase.TC_SingleStudentDetails_00002"/>  -->
		<!-- 	<class name="com.nmims.selenium.studentportal.testCase.TC_StudenBasicInfo_00004"/> -->
	<!-- 	 <class name="com.nmims.selenium.studentportal.testCase.TC_Subjects_00006"/> -->
		<!--	<class name="com.nmims.selenium.studentportal.testCase.TC_CurrentAssignment_00009"/>  -->
		
		 <class name="com.nmims.selenium.studentportal.TakingScreenshortAllPage.TakingScreenShortAllPages"/>
			
			




		</classes>

	</test>

</suite> 