<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Studentportal">

	<!-- <listeners>

		<listener class-name="com.selenium.studentportal.utilities.Reporting" />

	</listeners> -->

	<test name="portalApp">

		<parameter name="browser" value="chrome" />
		<classes>

			<class name="com.selenium.studentportal.testCase.TC_LoginTest_00001" />
			


		</classes>

	</test>

</suite> 